// ПЕРЕМЕННЫЕ НА МАНЕР ПРЕПРОЦЕССОРА 
/* Colors */
$primary-color: #333333;
$secondary-color: #ffffff;
$logo-color: #28a745;
$hero-color: #e9e9e9;

/* Backgrounds */
$main-background: #ffffff;
$first-additional-background: #f4f4f4;
$third-additional-background: #0284d0;
$footer-background: #333333;

/* Overlays */
$poppup-overlay: rgba(40, 167, 69, 0.9);

/* Buttons */
$first-btn-color: #28a745;
$second-btn-color: #0284d0;
$hover-first-btn-color: #28aa64;
$hover-second-btn-color: #045dc5;

/* Links */
$link-hover-focus-color: #28a745;

/* Cubic-Bezier */
$time-function: cubic-bezier(0.4, 0, 0.2, 1);