<section class="post-one">
    <div class="post-container container">
      <img
        src="./images/blog-post-one-pic.jpg"
        alt="notes on the table"
        width="680"
      />
      <div class="post-container-text">
        <p class="post-one-subtitle">
          <time datetime="2020-04-16">April 16 2020</time>
        </p>
        <h2 class="post-one-title">Blog Post One</h2>
        <p class="post-one-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
          ipsum dignissimos quae laudantium asperiores nam aliquid impedit
          harum illum dolore explicabo ab dolores itaque rerum temporibus
          doloribus iste maiores deleniti?
        </p>
        <button class="post-one-button" type="button">Read Our Blog</button>
      </div>
    </div>
  </section>