<section class="request">
  <div class="container">
    <div class="request-box">
      <img
        class="request-photo"
        src="./images/request-callback.jpg"
        alt="request-callback"
        width="680"
      />
      <div class="request-callback">
        <h2 class="request-headline">Request callback</h2>
        <form class="request-form" action="#" method="get">
          <label for="name"></label>
          <input
            class="request-name"
            placeholder="Enter your name"
            type="text"
            name="name"
          />
          <label for="email"></label>
          <input
            class="request-email"
            placeholder="Enter email*"
            type="email"
            name="email"
          />
          <button class="request-button">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
