<section class="business">
    <div class="container-business container">
    <p class="business-subtitle">This is what we do</p>
    <h2 class="business-title">Business Cases</h2>
    <p class="business-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="list business-list">
      <li class="business-item">
        <img
          src="./images/team-at-the-table.jpg"
          alt="team at the table"
          width="320"
          height="214"
        />
      </li>
      <li class="business-item">
        <img
          src="./images/graphs.jpg"
          alt="graphs"
          width="320"
          height="214"
        />
      </li>
      <li class="business-item">
        <img
          src="./images/handshake.jpg"
          alt="two people shaking hands"
          width="320"
          height="214"
        />
      </li>
      <li class="business-item">
        <img
          src="./images/team-made-a-decision.jpg"
          width="320"
          alt="the team made a decision"
          height="214"
        />
      </li>
      <li class="business-item">
        <img
          src="./images/person-works-on-a-laptop.jpg"
          alt="a person works on a laptop"
          width="320"
          height="214"
        />
      </li>
      <li class="business-item">
        <img
          src="./images/high-rise-buildings.jpg"
          alt="high-rise buildings"
          width="320"
          height="214"
        />
      </li>
      <li class="business-item">
        <img
          src="./images/one-of-the-team.jpg"
          alt="one of the team looks into the camera"
          width="320"
          height="214"
        />
      </li>
      <li class="business-item">
        <img
          src="./images/woman-is-smiling.jpg"
          alt="a woman works at a laptop and smiles"
          width="320"
          height="214"
        />
      </li>
    </ul>
    </div>
  </section>