<!-- 2 (Work Features) -->
<section class="features">
	<!-- Hidden Heading №1 -->
	<div class="features-container container">
		<h2 class="features-title visually-hidden">Features</h2>
		<ul class="list features-list">
			<li class="features-item">
				<div class="features-item__block">
					<div class="icon-features-background">
						<svg class="icon-features">
							<use href="./images/sprite-optimized.svg#icon-investmant-banking">
						</svg>
					</div>
					<h3 class="features-subtitle">Investmant Banking</h3>
					<p class="features-text">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit.
						Consequatur, necessitatibus!
					</p>
					<div class="features-popup">
						<p class="features-popup__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
							Consequatur, necessitatibus!</p>
					</div>
				</div>
			</li>
			<li class="features-item">
				<div class="features-item__block">
					<div class="icon-features-background">
						<svg class="icon-features">
							<use href="./images/sprite-optimized.svg#icon-portfolio-manager">
						</svg>
					</div>
					<h3 class="features-subtitle">Portfolio Manager</h3>
					<p class="features-text">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit.
						Consequatur, necessitatibus!
					</p>
					<div class="features-popup">
						<p class="features-popup__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
							Consequatur, necessitatibus!</p>
					</div>
				</div>
			</li>
			<li class="features-item">
				<div class="features-item__block">
					<div class="icon-features-background">
						<svg class="icon-features">
							<use href="./images/sprite-optimized.svg#icon-tax-custudio">
						</svg>
					</div>
					<h3 class="features-subtitle">Tax & Custudio</h3>
					<p class="features-text">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit.
						Consequatur, necessitatibus!
					</p>
					<div class="features-popup">
						<p class="features-popup__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
							Consequatur, necessitatibus!</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>