<section class="team">
  <div class="team-container container">
    <p class="team-container__subtext">Who we are</p>
    <h2 class="team-container__heading">Our professional team</h2>
    <p class="team-container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-list__item">
        <div class="img-thumb">
          <img
            src="./images/teamphoto1.jpg"
            alt="phot John Doe"
            width="420"
            height="280"
          />
          <ul class="list social-list">
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Facebook">
                <svg width="35" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-facebook-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Twitter">
                <svg width="35" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-twitter-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="YouTube">
                <svg width="40" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-youtube-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Linkedin">
                <svg width="31" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-linkedin-logo"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team-list__name">John Doe</h3>
        <p class="team-list__prof">President</p>
      </li>
      <li class="team-list__item">
        <div class="img-thumb">
          <img
            src="./images/teamphoto2.jpg"
            alt="photo Jane Doe"
            width="420"
            height="280"
          />

          <ul class="list social-list">
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Facebook">
                <svg width="35" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-facebook-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Twitter">
                <svg width="35" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-twitter-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="YouTube">
                <svg width="40" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-youtube-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Linkedin">
                <svg width="31" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-linkedin-logo"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team-list__name">Jane Doe</h3>
        <p class="team-list__prof">Vice President</p>
      </li>
      <li class="team-list__item">
        <div class="img-thumb">
          <img
            src="./images/teamphoto3.jpg"
            alt="photo Steve Smith"
            width="420"
            height="280"
          />

          <ul class="list social-list">
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Facebook">
                <svg width="35" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-facebook-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Twitter">
                <svg width="35" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-twitter-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="YouTube">
                <svg width="40" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-youtube-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Linkedin">
                <svg width="31" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-linkedin-logo"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team-list__name">Steve Smith</h3>
        <p class="team-list__prof">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
